<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>学食メニュー：管理者ページ</title>
    <link rel="shortcut icon" href="../static/favicon.ico" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/admin.css" />
  </head>
  <body>
    <h1>管理者ページ</h1>

    <h2>今月の学食のメニューを追加</h2>

    <div class="send_menu_box">
      <input type="text" id="menu_text" placeholder="追加するメニュー" />
      <button id="send_button" onclick="AddMenu()">送信する</button>
    </div>

    <script src="../static/callAPI.js"></script>
  </body>
</html>
