<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>学食メニュー</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    /> -->
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <!-- <img src="{{ url_for('static', filename='menu.jpg') }}" /> -->
    <img src="../static/menu.jpg" />
    <!-- <script src="static/script.js"></script> -->
    <script src="../static/script.js"></script>
  </body>
</html>
