<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/favicon.ico" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/index.css" />
    <title>学食メニュー</title>
  </head>
  <body>
    <div class="main">
      <div class="menu_box">
        <h2 class="title">今日の学食メニュー</h2>

        <div class="menus">
          <div class="menu">
            <h1 class="title">日替わり定食：430円</h1>
            <img src="../static/images/{{ image_id }}.jpg" />
          </div>

          <div class="menu">
            <h1 class="title">ビーフカレー：360円</h1>
            <img src="../static/images/beef_curry.jpg" />
          </div>

          <div class="menu">
            <h1 class="title">カツカレー：440円</h1>
            <img src="../static/images/katsu_curry.jpg" />
          </div>

          <div class="menu">
            <h1 class="title">カツ丼：360円</h1>
            <img src="../static/images/katsudon.jpg" />
          </div>
        </div>
      </div>

      <div class="request_box">
        <div class="title">
          <div id="popular_menu"></div>
        </div>

        <h1>メニューリクエスト</h1>

        <div class="menus" id="request_menus"></div>

        <button id="vote_menu" onclick="VoteMenu()">選択した料理に投票</button>
      </div>
    </div>
    <script src="../static/callAPI.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
